---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/de/" />
    <script>
      // Detect browser language and redirect
      const lang = (navigator.language || '').toLowerCase();
      if (lang.startsWith('es')) {
        window.location.replace('/es/');
      } else {
        window.location.replace('/de/');
      }
    </script>
    <title>Argentatreuhand</title>
  </head>
  <body></body>
</html>
