---
import Layout from '../../layouts/Layout.astro';
---
<Layout lang="es">
  <section class="py-8">
    <h1 class="text-3xl font-bold mb-6">Privacidad</h1>
    <p class="mb-4">La protección de sus datos personales es importante para nosotros. Tratamos sus datos de forma confidencial y de acuerdo con las disposiciones legales de protección de datos.</p>
    <h2 class="text-xl font-bold mt-8 mb-2">Contacto para consultas de privacidad</h2>
    <p class="mb-2">Argentatreuhand</p>
    <p class="mb-2">E-mail: info@argentatreuhand.com</p>
    <p>Teléfono: +41 076 510 03 80</p>
  </section>
</Layout>
