---
interface Props {
	title: string;
	lang?: string;
	description?: string;
}

const { title, lang = "es", description: customDescription } = Astro.props;
const description = customDescription || {
	es: "Argenta Treuhand - Expertos en impuestos, contabilidad y asesoría empresarial en Zúrich. Personalizados, confiables y eficientes para autónomos y pymes",
	de: "Argenta Treuhand – Ihre Experten für Steuern, Buchhaltung und Unternehmensberatung in Zürich. Persönlich, zuverlässig und effizient für Selbständige und KMU.",
};
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={typeof description === 'string' ? description : description[lang]} />
		<meta name="keywords" content="Argenta Treuhand, Impuestos, Contabilidad, Asesoría Empresarial, Zúrich, Autónomos, Pymes" />
		<meta name="author" content="Ricardo Vögeli - hello@travix.app" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
		<meta name="robots" content="noindex, nofollow" />

		<!-- Favicons and App Icons -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import '../styles/globals.css';
</style>
